<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>nl.edaldus.pascal</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/aldus/KNMI_Project/shell/run_pascal.sh</string>
  </array>
  <!-- 2x per dag: 11:30 en 21:00 lokale tijd -->
  <!-- (ECMWF 00z publiek ~08:30-09:30 UTC = 10:30-11:30 CEST; 12z publiek ~18:30 UTC = 20:30 CEST) -->
  <key>StartCalendarInterval</key>
  <array>
    <dict>
      <key>Hour</key><integer>11</integer>
      <key>Minute</key><integer>30</integer>
    </dict>
    <dict>
      <key>Hour</key><integer>21</integer>
      <key>Minute</key><integer>0</integer>
    </dict>
  </array>
  <key>StandardOutPath</key>
  <string>/tmp/pascal.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/pascal.err</string>
  <!-- Niet bij boot starten: wachten tot eerste scheduled tijd. -->
  <key>RunAtLoad</key>
  <false/>
</dict>
</plist>
