<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>nl.edaldus.bulletin</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>/Users/aldus/KNMI_Project/weerlab/upload_bulletin.sh</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/nl.edaldus.bulletin.err</string>
	<key>StandardOutPath</key>
	<string>/tmp/nl.edaldus.bulletin.log</string>
	<key>StartInterval</key>
	<integer>900</integer>
</dict>
</plist>
