<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>nl.edaldus.janvisser-ens</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>/Users/aldus/KNMI_Project/weerlab/shell/jan_visser_ens_cache.sh</string>
  </array>
  <!-- Dagelijks 06:30 UTC = 08:30 CEST (zomer) / 07:30 CET (winter).
       ECMWF 00Z run is dan gepubliceerd via open-meteo. -->
  <key>StartCalendarInterval</key>
  <array>
    <dict>
      <key>Hour</key><integer>6</integer>
      <key>Minute</key><integer>30</integer>
    </dict>
  </array>
  <key>RunAtLoad</key>
  <false/>
  <key>StandardOutPath</key>
  <string>/tmp/nl.edaldus.janvisser-ens.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/nl.edaldus.janvisser-ens.err</string>
</dict>
</plist>
