<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>nl.edaldus.weerrecords-lopend</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>/Users/aldus/KNMI_Project/weerlab/shell/run_lopend_patch.sh</string>
  </array>
  <!-- Elke 10 min; het script zelf draait alleen 05:00-23:00. Houdt de
       lopende temperatuur (EDR 10-min) snel actueel op de recordspagina,
       los van de zware volledige run (nl.edaldus.weerrecords, 1x/ochtend). -->
  <key>StartInterval</key>
  <integer>600</integer>
  <key>RunAtLoad</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/tmp/weerrecords-lopend.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/weerrecords-lopend.err</string>
</dict>
</plist>
