<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>nl.edaldus.modelkaarten</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/aldus/KNMI_Project/weerlab/scripts/modelkaarten_run.sh</string>
    </array>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Minute</key>
        <integer>15</integer>
    </dict>

    <key>RunAtLoad</key>
    <false/>

    <key>StandardOutPath</key>
    <string>/Users/aldus/KNMI_Project/weerlab/modelkaarten_out.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/aldus/KNMI_Project/weerlab/modelkaarten_err.log</string>
</dict>
</plist>
