<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>nl.edaldus.dmi</string>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>/Users/aldus/KNMI_Project/weerlab/scripts/dmi_run.sh</string>
  </array>

  <key>StartCalendarInterval</key>
  <array>
    <dict><key>Hour</key><integer>4</integer><key>Minute</key><integer>10</integer></dict>
    <dict><key>Hour</key><integer>10</integer><key>Minute</key><integer>10</integer></dict>
    <dict><key>Hour</key><integer>16</integer><key>Minute</key><integer>10</integer></dict>
    <dict><key>Hour</key><integer>22</integer><key>Minute</key><integer>10</integer></dict>
  </array>

  <key>StandardOutPath</key>
  <string>/Users/aldus/KNMI_Project/weerlab/dmi_out.log</string>

  <key>StandardErrorPath</key>
  <string>/Users/aldus/KNMI_Project/weerlab/dmi_err.log</string>

  <key>RunAtLoad</key>
  <false/>
</dict>
</plist>
