<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>nl.edaldus.neerslagstations</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/aldus/KNMI_Project/weerlab/shell/run_neerslagstations.sh</string>
  </array>
  <!-- 07:00 en 19:00 = vaste verversmomenten; 19:50/20:50/22:30 vangen het
       KNMI-dagbestand (18:37 UT) direct na publicatie in winter- en zomertijd. -->
  <key>StartCalendarInterval</key>
  <array>
    <dict><key>Hour</key><integer>7</integer><key>Minute</key><integer>0</integer></dict>
    <dict><key>Hour</key><integer>19</integer><key>Minute</key><integer>0</integer></dict>
    <dict><key>Hour</key><integer>19</integer><key>Minute</key><integer>50</integer></dict>
    <dict><key>Hour</key><integer>20</integer><key>Minute</key><integer>50</integer></dict>
    <dict><key>Hour</key><integer>22</integer><key>Minute</key><integer>30</integer></dict>
  </array>
  <key>RunAtLoad</key>
  <false/>
  <key>StandardOutPath</key>
  <string>/Users/aldus/KNMI_Project/weerlab/logs/neerslagstations.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/aldus/KNMI_Project/weerlab/logs/neerslagstations.log</string>
</dict>
</plist>
