<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>nl.edaldus.mtg-benelux</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/aldus/KNMI_Project/shell/run_mtg_benelux.sh</string>
  </array>
  <!-- Elke 15 minuten: op :00, :15, :30, :45 -->
  <key>StartCalendarInterval</key>
  <array>
    <dict><key>Minute</key><integer>0</integer></dict>
    <dict><key>Minute</key><integer>15</integer></dict>
    <dict><key>Minute</key><integer>30</integer></dict>
    <dict><key>Minute</key><integer>45</integer></dict>
  </array>
  <key>StandardOutPath</key>
  <string>/tmp/mtg_benelux.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/mtg_benelux.err</string>
  <key>RunAtLoad</key>
  <false/>
</dict>
</plist>
